<%= simple_form_for(@labour_estimate) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :project %>
    <%= f.input :no_of_men %>
    <%= f.input :no_of_days %>
    <%= f.input :total_cost_per_day %>
    <%= f.input :total_cost %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
