<%= simple_form_for([@project, @service], html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :lowest_estimated_number_of_services %>
    <%= f.input :highest_estimated_number_of_services %>
    <%= f.input :lowest_estimated_cost_per_service %>
    <%= f.input :highest_estimated_cost_per_service %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
