<div class="row-fluid">
<h1>Listing services</h1>
<div class="add">
<%= image_tag("plus.png")%> <%= link_to 'Add a Service', new_project_service_path %>
</div>
<table class="table table-hover table-condensed table-striped table-bordered">
  <tr>
    <th>Name</th>
    <th>Lowest estimated number of services</th>
    <th>Highest estimated number of services</th>
    <th>Actual number</th>
    <th>Lowest estimated cost per service</th>
    <th>Highest estimated cost per service</th>
    <th>Avg cost per service</th>
    <th>Total cost</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @services.each do |service| %>
  <tr>
    <td><%= service.name %></td>
    <td><%= service.lowest_estimated_number_of_services %></td>
    <td><%= service.highest_estimated_number_of_services %></td>
    <td><%= service.actual_number %></td>
    <td><%= service.lowest_estimated_cost_per_service %></td>
    <td><%= service.highest_estimated_cost_per_service %></td>
    <td><%= service.avg_cost_per_service %></td>
    <td><%= service.total_cost %></td>
    <td><%= link_to 'Show', [@project, service], class: "btn btn-mini btn-info" %></td>
    <td><%= link_to 'Edit', edit_project_service_path(@project, service), class: "btn btn-mini btn-warning" %></td>
    <td><%= link_to 'Destroy', [@project, service], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger"%></td>
  </tr>
<% end %>
</table>

<br />


</div>
