<%= simple_form_for([@project, @material_procurement], html: {class: "form-horizontal"}) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :material, collection: @project.materials%>
    <%= f.input :date %>
    <%= f.input :quantity %>
    <%= f.input :price_per_unit %>
    <%= f.input :total %>
  </div>

  <div class="form-actions">
    <%= link_to "Cancel", project_material_procurements_path(@project), class: "btn btn-danger"%> |
    <%= f.button :submit, class: "btn btn-primary" %>

  </div>
<% end %>
