<div class="row-fluid">
<h1>Materials Procured</h1>
<%= image_tag("plus.png")%> <%= link_to 'Add procured material', new_project_material_procurement_path(@project) %>
<table class="table table-condensed table-striped table-hover table-bordered">
  <tr>
    <th>Material</th>
    <th>Date</th>
    <th>Quantity</th>
    <th>Price per unit</th>
    <th>Total</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @material_procurements.each do |material_procurement| %>
  <tr>
    <td><%= material_procurement.material.name %></td>
    <td><%= material_procurement.date %></td>
    <td><%= pluralize(material_procurement.quantity, material_procurement.material.units_of_measurement) %></td>
    <td><%= material_procurement.price_per_unit %></td>
    <td><%= material_procurement.total %></td>
    <td><%= link_to 'Show', [@project, material_procurement], class: "btn btn-mini btn-info" %></td>
    <td><%= link_to 'Edit', edit_project_material_procurement_path(@project, material_procurement), class: "btn btn-mini btn-warning" %></td>
    <td><%= link_to 'Destroy', [@project, material_procurement], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %></td>
  </tr>
<% end %>
</table>

<br />



</div>
