<div class="row-fluid material">

<h2>  <%= @material_procurement.material.name %></h2>


<p>
  <b>Date:</b>
  <%= @material_procurement.date %>
</p>

<p>
  <b>Quantity:</b>
  <%= pluralize(@material_procurement.quantity, @material_procurement.material.units_of_measurement)%>
</p>

<p>
  <b>Price per unit:</b>
  <%= @material_procurement.price_per_unit %>
</p>

<p>
  <b>Total:</b>
  <%= @material_procurement.total %>
</p>

<%= link_to 'Back', project_material_procurements_path(@project) %> |
<%= link_to image_tag("pencil.png"), edit_project_material_procurement_path(@project, @material_procurement) %> |
         <%= link_to image_tag("close.png"), [@project, @materil_procurement], method: :delete, data: {confirm: "Are you sure?"}%>
</div>
