<div class="row-fluid material">
<h2> <%= @material_usage.material.name %></h2>
<p>
  <b>Date:</b>
  <%= @material_usage.date %>
</p>

<p>
  <b>Quantity:</b>
  <%= pluralize(@material_usage.quantity, @material_usage.material.units_of_measurement) %>
</p>

<p>
  <b>Phase:</b>
  <%= @material_usage.phase_name %>
</p>

<p>
  <b>Description:</b>
  <%= @material_usage.description %>
</p>

<%= link_to 'Back', project_material_usages_path(@project) %> |
<%= link_to image_tag("pencil.png"), edit_project_material_usage_path(@project, @material_usage) %> |
         <%= link_to image_tag("close.png"), [@project, @material_usage], method: :delete, data: { confirm: "Are you sure"}%>

</div>
