 <div class="row-fluid project">
<h2><%= image_tag "home.png"%>  <%= @project.name%></h2>
<h5><%= image_tag "location.png"%> <%= @project.location %></h5>
<div class="row-fluid stats">
      <div class="span6 stat">
      <h5>
        <span>Start date: </span><%= @project.start_date %>
      </h5>
      <h5>
        <span>Estimated completion date: </span><%= @project.estimated_completion_date %>
      </h5>
    </div>
<div class="span6 stat">
      <h5>
        <span>Budget: </span><%= number_to_currency(@project.budget_amount, unit: "KSHs ") %>
      </h5>
      <h5>
        <span>Amount spent: </span><%= number_to_currency(@project.spent_amount, unit: "KSHs ") %>
      </h5>
      <h5>
        <span>Balance: </span><%= number_to_currency(@project.balance_amount, unit: "KSHs ") %>
      </h5>
    </div>
    </div>

    <div class="progress progress-striped active">
      <div class="bar" style="width: <%= @project.completion_pct.to_i%>%;"></div>
    </div>
    <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-warning"%>
  </div>

