<%set_meta_tags  :title => "Project:  #{@project.name}/Material:#{@material.name}", :reverse => true%>
<div class="row-fluid material">
<h2>  <%= @material.name %></h2>

<p>
  <b>Units of measurement:</b>
  <%= @material.units_of_measurement %>
</p>

<p>
  <b>Lowest estimated units:</b>
  <%= @material.lowest_estimated_units %>
</p>

<p>
  <b>Highest estimated units:</b>
  <%= @material.highest_estimated_units %>
</p>

<p>
  <b>Actual units:</b>
  <%= @material.actual_units %>
</p>

<p>
  <b>Lowest estimated cost per unit:</b>
  <%= @material.lowest_estimated_cost_per_unit %>
</p>

<p>
  <b>Highest estimated cost per unit:</b>
  <%= @material.highest_estimated_cost_per_unit %>
</p>

<p>
  <b>Average cost per unit:</b>
  <%= @material.average_cost_per_unit %>
</p>

<p>
  <b>Balance units:</b>
  <%= @material.balance_units %>
</p>
<p>
  <b>Total cost:</b>
  <%= @material.total_cost%>
</p>

<%= link_to image_tag("back.png"), project_materials_path(@project), class: "btn"%> |
<%= link_to image_tag("pencil.png"), edit_project_material_path(@project, @material), class: "btn btn-warning" %> |
<%= link_to image_tag("close.png"), [@project, @material], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%>
</div>
