<%= simple_form_for([@project, @phase], :html => { :class => 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :estimated_start_date %>
    <%= f.input :estimated_completion_date %>
    <%= f.input :lowest_estimated_cost %>
    <%= f.input :highest_estimated_cost %>
    <%= f.input :completion_pct %>
  </div>

  <div class="form-actions">
     <%= link_to "Cancel", project_phases_path(@project), class: "btn"%>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
