<%set_meta_tags  :title => "Project:  #{@project.name} phases", :reverse => true%>
<div class="row-fluid">
<h1>Phases</h1>
<div class="row-fluid">
<div class="span12">
<div><%= image_tag("plus.png")%> <%= link_to "Add Phase", new_project_phase_path(@project) %></div>
</div>
</div>
<% @phases.each do |phase| %>
  <div class="row-fluid card">
    <div class="stats">
    <h3><%= link_to phase.name, [@project, phase] %></h3>

    <p><span>Estimated start date: </span> <%= phase.estimated_start_date %></p>
    <p><span>Actual start date: </span><%= phase.actual_start_date %></p>
    <p><span>Estimated completion date: </span><%= phase.estimated_completion_date %></p>
    <p><span>Actual completion date: </span><%= phase.actual_completion_date %></p>
    <p><span>Lowest estimated cost: </span><%= phase.lowest_estimated_cost %></p>
    <p><span>Highest estimated cost: </span><%= phase.highest_estimated_cost %></p>
    <p><span>Actual cost: </span><%= phase.actual_cost %></p>
    <p><%= best_in_place phase, :completion_pct, :type => :input, :path => [@project, phase], :nil => "(change completion percantage!)", :ok_button => "update", :ok_button_class => "btn btn-primary btn-mini", :cancel_button => "cancel", cancel_button_class: "btn btn-mini btn-danger"%></p>
    <div class="progress progress-striped active">
      <div class="bar" style="width: <%= phase.completion_pct.to_i%>%;"></div>
    </div>
    </div>
  </div>
<% end %>
</div>


